@model IEnumerable<AdminCreationViewModel>

@{
    ViewData["Title"] = "AllAdministrators";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllAdministrators</h1>

<p>
    <a asp-action="CreateAdmin">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                <a asp-action="EditAdmin" asp-route-id="@item.ID">Edit Amin</a> |
                <a asp-action="DeleteAdmin" asp-route-id="@item.ID">Delete Admin</a>
            </td>
        </tr>
}
    </tbody>
</table>
