@model IEnumerable<DoctorViewModel>

@{
    ViewData["Title"] = "AllDoctors";
}

<style>
    .standout-table {
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 10px;
    }

        .standout-table th,
        .standout-table td {
            border: none;
        }
</style>

<h1>AllDoctors</h1>
<div style="margin-bottom: 20px;"><iframe title="AdminDoctors" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=acf449c5-0576-4008-aa5a-364bcfecc1fe&autoAuth=true&ctid=2a84e6b3-061a-43ff-a98d-5ba6e3e0272b" frameborder="0" allowFullScreen="true"></iframe></div>
    <p>
        <button onclick="window.location.href='@Url.Action("CreateDoctor")'" class="btn btn-primary">Create New</button>
    </p>
    <table class="table standout-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMail)
                    </td>
                    <td>
                        <button onclick="window.location.href='@Url.Action("EditDoctor", new { id = item.ID })'" class="btn btn-primary">Edit</button> |
                        <button onclick="window.location.href='@Url.Action("DeleteDoctor", new { id = item.ID })'" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
