@model IEnumerable<FactoryViewModel>

@{
    ViewData["Title"] = "AllFactories";
}

<h1>AllFactories</h1>

<p>
    <a asp-action="CreateFactory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                <a asp-action="EditFactory" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="FactoryDetails" asp-route-id="@item.ID">Factory Details</a> |
                <a asp-action="DeleteFactory" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
