@model IEnumerable<MedicalProductViewModel>

@{
    ViewData["Title"] = "AllProducts";
}

<style>
    .standout-table {
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 10px;
    }

        .standout-table th,
        .standout-table td {
            border: none;
        }
</style>

<h1>AllProducts</h1>
<div style="margin-bottom: 20px;"><iframe title="AdminProducts" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=8d1ddd1d-5fc6-483c-90b5-eea73150bf8c&autoAuth=true&ctid=2a84e6b3-061a-43ff-a98d-5ba6e3e0272b" frameborder="0" allowFullScreen="true"></iframe></div>
    <p>
        <button onclick="window.location.href='@Url.Action("CreateProduct")'" class="btn btn-primary">Create New Product</button>
    </p>
    <table class="table standout-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstructionToUse)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstructionToUse)
                    </td>
                    <td>
                        <button onclick="window.location.href='@Url.Action("EditProduct", new { id = item.ID })'" class="btn btn-primary">Edit</button> |
                        <button onclick="window.location.href='@Url.Action("DeleteProduct", new { id = item.ID })'" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
