@model DoctorViewModel

@{
    ViewData["Title"] = "EditDoctor";
}

<h1>EditDoctor</h1>

<h4>DoctorEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="@Url.Action("UpdateDoctor", "Home")">
            <div class="form-group">
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="UserName">UserName:</label>
                <input type="text" id="UserName" name="UserName" value="@Model.UserName" class="form-control" required />
            </div>
            @*<div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" value="@Model.Password" class="form-control" required />
        </div>*@
            <input type="hidden" id="PasswordHash" name="PasswordHash" value="@Model.PasswordHash" class="form-control" />
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" value="@Model.EMail" pattern="[a-zA-Z0-9._%+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Phone">Phone:</label>
                <input type="text" id="Phone" name="Phone" value="@Model.Phone" class="form-control" required pattern="[0-9+]+" title="Please enter numbers and the plus sign (+) only" />
            </div>
            <input type="hidden" asp-for="ID" value="@Model.ID" />
            <div class="form-group">
                <label for="LocationID">City:</label>
                <select id="LocationID" name="LocationID" class="form-control" required>
                    @foreach (var city in Model.PossibleCities)
                    {
                        <option value="@city.Value">@city.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
