@model MedicalDeliveryService.Models.ReceiptPreparationViewModel

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/receipt-preparation.js"></script>
</head>

<h1>Create Receipt</h1>

<form asp-action="ProcessNewReceipt" method="post">

    <div class="form-group">
        <label asp-for="ClientID" class="control-label">Client:</label>
        <select asp-for="ClientID" asp-items="Model.PossibleClients"></select>
    </div>

    <div class="form-group">
        <label asp-for="AuthorID" class="control-label">Doctor:</label>
        <p><strong>Doctor:</strong> @Model.Doctor.Name</p>
        <input type="hidden" name="AuthorID" class="form-control" value="@Model.Doctor.ID">
    </div>

    <div class="form-group">
        <label asp-for="AppointmentReview" class="control-label">Appointment Review:</label>
        <input asp-for="AppointmentReview" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ShipToTheIssuePoint" class="control-label">Ship to issue point:</label>
        <input asp-for="ShipToTheIssuePoint" type="checkbox" />
    </div>



    <div class="form-group">
        <label asp-for="PrescriptedProducts" class="control-label">Prescripted Products:</label>
        <div id="prescripted-products">
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.PrescriptedProducts.Count(); i++)
                    {
                        <tr>
                            <td>
                                <select asp-for="@Model.PrescriptedProducts[i].ID" asp-items="Model.PossibleProducts"></select>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button type="button" id="add-product">Add Product</button>
    </div>

    @*<div>
            <label for="prescripted-product-select">Select product:</label>
            <select id="prescripted-product-select">
                @foreach (var product in Model.PossibleProducts)
                {
                    <option value="@product.Value">@product.Text</option>
                }
            </select>
        </div>
        <div>

            <button type="button" id="add-product">Add</button>
        </div>
        <div id="prescripted-product-list">
            @if (Model.PrescriptedProducts != null)
            {
                @for (int i = 0; i < Model.PrescriptedProducts.Count; i++)
                {
                    <div class="product-item">
                        <input type="hidden" name="PrescriptedProducts.Index" value="@i" />
                        <input type="hidden" name="PrescriptedProducts[@i].Product.ID" value="@Model.PrescriptedProducts[i].ID" />
                        <input type="hidden" name="PrescriptedProducts[@i].Product.ProductName" value="@Model.PrescriptedProducts[i].ProductName" />
                    </div>
                }
            }
        </div>*@

    <input type="hidden" name="ProductCount" id="product-count" value="0" />
    <button type="submit">Create</button>

</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            var productIndex = 0;

            $("#add-product").click(function () {
                var table = $("#prescripted-products tbody");
                var newRow = $("<tr>");


                var select = $('<select>').attr('name', 'PrescriptedProducts[' + productIndex + '].ID').attr('id', 'PrescriptedProducts_' + productIndex + '__ID').addClass('form-control');
$.each(@Html.Raw(Json.Serialize(Model.PossibleProducts)), function (index, item) {
    select.append($('<option>').val(item.value).text(item.text));
});
newRow.append($('<td>').append(select));

                table.append(newRow);

                productIndex++;

                $("#product-count").val(productIndex);
            });
        });
    </script>
}    