@using Microsoft.AspNetCore.Http
@model IEnumerable<ReceiptViewModel>

@{
    ViewData["Title"] = "ClientDetails";
}

<style>
    .standout-table {
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 10px;
    }

        .standout-table th, .standout-table td {
            border: none;
            padding: 12px; /* Increased padding */
        }

    .action-button {
        display: inline-block;
        padding: 8px 12px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-right: 10px;
    }

        .action-button:hover {
            background-color: #0056b3;
        }
</style>

<h1>Welcome, Doctor!</h1>

<nav class="menu-bar">
    <a asp-action="NewReceipt" class="action-button">New Receipt</a>
    <a asp-action="AllClients" class="action-button">All Clients</a>
</nav>

@{
    int doctorId = (int)Context.Session.GetInt32("UserId");
}

<iframe title="DoctorHome" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=67062b0a-8d0d-4b0e-9508-b252947e16d5&autoAuth=true&ctid=2a84e6b3-061a-43ff-a98d-5ba6e3e0272b&filter=Doctors/ID eq @doctorId" frameborder="0" allowFullScreen="true"></iframe>



<table class="standout-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentReview)
            </th>
            <th>
                <p>Status</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receipt.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentReview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receipt.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a class="action-button" asp-action="ReceiptDetails" asp-route-id="@item.Receipt.ID">ReceiptDetails</a>
                </td>
            </tr>
        }
    </tbody>
</table>
